* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system;
}

.container-results {
    width: 100%;
    height: 100%;
min-height: calc(100dvh - var(--header-height));
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.results {
    gap: 30px;
    width: 100%;
    max-width: 66.8rem;
    height: auto;
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid black;
}

.results h1 {
    color: #141b4d;
    font-size: 46px;
    font-weight: 700;
    text-align: start;
    margin: 0px 0px 20px;
}

.container-vehicle {
    gap: 30px;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.2);
}

.vehicle {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.description-vehicle {
    width: 549px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
}

.container-img {
    width: 300.44px;
    height: 100%
}

.container-img img {
    height: 153.41px;
}

.tittle-vehicle {
    width: 177px;
    height: 100%;
}

.tittle-vehicle h3 {
    color: #141b4d;
    font-size: 20.8px;
    font-weight: 700;
    text-align: start;
    margin: 0px 0px 8px;
}

.tittle-vehicle p {
    color: #20293D;
    font-size: 11.57px;
    font-weight: 500;
    text-align: start;
    text-transform: uppercase;
}

.container-count {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.price {
    width: 100%;
    height: auto;
    display: flex;
    text-align: end;
    flex-direction: column;
    background-color: red;
}

.price sub {
    color: #677089;
    font-size: 10.8px;
    font-weight: 500;
    margin: 0px 0px 3px;
    text-decoration: line-through;
}

.total-price {
    gap: 10px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.fee {
    width: 30px;
    height: auto;
    font-size: 11.5px;
    font-weight: 800;
}

.total-price p {
    color: #141b4d;
    font-size: 20.8px;
    font-weight: 700;
    text-align: end;
    text-transform: uppercase;
}

.fee-day {
    color: #20293D;
    font-size: 10.8px;
    font-weight: 500;
}

.container-count button {
    widows: 100%;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    background-color: #6c42f9;
    transition: .3s ease-in-out;
    border: 1px solid transparent;
    border-radius: .5rem;
}

.container-count button:hover {
    color: #6c42f9;
    background-color: transparent;
    border: 1px solid #6c42f9;
}